h1{
    color:rgba(6, 3, 40, 0.8);
    text-align: center;
    text-shadow: 2px 2px 2px rgb(235, 223, 9),2px 2px 2px rgb(217, 214, 11);
}
body{
    margin-top: 0%;
    background:url(registratio.jpg);
    background-size: cover;
    font-style: bold;
    text-shadow: 1px 1px 1px rgb(203, 185, 185);
    font-size: large;
    margin-left:40px;
    background-color: transparent;
}
table{
    background-color: rgb(96, 200, 22);
}
button{
    background-color: white;
    color:black;
    box-shadow: 5px 5px 5px blue;
    border-radius: 10px;
    width:180px;
    margin-left: 40%;
}
button:hover{
    background-color: blue;
    color:white;
}
.r{
    text-align:center;
    background:rgb(129, 114, 114);
    margin-right: 30%;
    margin-left:30%;
    border-radius: 20%;
    border-image: fill;

}
input{
    width:25%;
    border-radius: 10px;
}